- name: checkout session-counter
  ansible.builtin.git:
    repo: '{{ sc["repos"] }}'
    dest: '{{ sc["src"] }}'
    update: yes
    version: '{{ sc["version"] }}'

- name: create install path
  ansible.builtin.file:
    path: '{{ sc["install"] }}'
    state: directory
    owner: pi
    group: pi
    mode: u=rwx,g=rx,o=rx
  become: yes

- name: compile session-counter
  ansible.builtin.command:
    cmd: '{{ racket["raco"] }} exe -o session-counter session-counter.rkt'
    chdir: '{{ sc["src"] }}'

- name: prep for dist
  ansible.builtin.command:
    cmd: '{{ racket["raco"] }} distribute {{ sc["install"] }}/ session-counter'
    chdir: '{{ sc["src"] }}'

- name: copy in manufacturer db
  ansible.builtin.copy:
    src: '{{ sc["src"] }}/manufacturers.sqlite'
    dest: '{{ sc["install"] }}/manufacturers.sqlite'